.document-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  iframe {
    border: none;
  }

  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dialog-header h2 {
    margin: 0;
  }
  
  .dialog-header button {
    color: #f44336; /* Red color for cancel icon */
  }
  
  